
/* CSS Document */

.menu-item-louie
{
    cursor: pointer !important;
}

.icon-louie
{
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/incognito_gray.svg) !important;
	background-repeat: no-repeat;
  background-position: 1px 1px !important;
  background-size: 21px 21px !important;
  cursor: pointer !important;
	width: 24px;
	height: 24px;
}

.louie-notification {
  position: absolute;
  right: 4px;
  top: 0px;
  font-size: 10px;
  background: #128C7E;
  color: white;
  padding: 4px;
  border-radius: 50px;
}

#all-caught-up {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.dropdown-theme.drop-element
{
    z-index: 1100 !important;
	transform-origin: left top 0px;
}

.louie-dropdown-container
{
}

.louie-dropdown-list {
  max-height: 120px;
  overflow: auto;
}

.louie-dropdown-item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.louie-dropdown-item:hover {
  background-color: #f5f5f5;
}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
  }
}

.radio-input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  top: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 50%;
}
.radio-input:hover {
  background: #9faab7;
}
.radio-input:checked {
  background: #40e0d0;
}
.radio-input:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '';
  display: inline-block;
  font-size: 26px;
  text-align: center;
  line-height: 18px;
}
.radio-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.seconds-incognito-input {
	width: 40px;
	margin-left: 7px;
	margin-right: 7px;
}

body {
  font-family: "Roboto", sans-serif;
}

.option-container {
  display: flex;
  flex-direction: column;
}

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  padding: 15px;
}

.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio:hover {
    background-color: #f4f4f4 !important;
}

.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}

input[type="radio"]:checked + .label {
  border-color: #225cff;
}

input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}

.space-left-right {
  margin: 0 5px;
}

.disabled {
  color: #6D6D6D;
}

#frequency {
  max-width: 100px;
}

.dialog-header {
  font-size: 26px; 
  font-weight: 600;
  margin-bottom: 10px;
}


.wrapper {
  width: 25rem;
  height: 70vh;
  margin: 2rem;
  margin-top: 15vh;
  font-size: 1.5rem;
  float: left;
}

.card {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.3),
    0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.mat_list {
  list-style-type: none;
  display: block;
  height: 100%;
}

.mat_list > li {
  margin-top: -1px;
  width: 100%;
  max-height: 100%;
  transition: max-height 0.5s;
  overflow: hidden;
}

.mat_list > li::before {
  content: "";
  width: 75%;
  display: block;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.mat_list > li.hide {
  max-height: 0px;
}









 .container {
  width: 400px;
  font-size: 0;
  box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
}
.container input {
  display: none;
}
.container input:checked + label {
  background: #eee;
}
.container input#tab1:checked ~ .line {
  left: 0%;
}
.container input#tab1:checked ~ .content-container #c1 {
  opacity: 1;
}
.container input#tab2:checked ~ .line {
  left: 50%;
}
.container input#tab2:checked ~ .content-container #c2 {
  opacity: 1;
}
 
 .container label {
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  width: 50%;
  text-align: center;
  background: #eeeeee;
  color: #555;
  position: relative;
  -webkit-transition: 0.25s background ease;
  transition: 0.25s background ease;
  cursor: pointer;
}
 .container label::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  background: #ccc;
  bottom: 0;
  opacity: 0;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
 .container label:hover::after {
  opacity: 1;
}
 .container .line {
  position: absolute;
  height: 2px;
  background: #25D366;
  width: 50%;
  top: 34px;
  left: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
 .container .content-container {
  background: #eee;
  position: relative;
  height: 137px;
  font-size: 16px;
}
 .container .content-container .content {
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  color: #333;
}
 .container .content-container .content h3 {
  font-weight: 200;
  margin: 10px 0;
}
 .container .content-container .content p {
  margin: 10px 0;
}
 .container .content-container .content p,  .container .content-container .content i {
  font-size: 13px;
}

.contact, .urgency {
  padding-top: 0px !important;
}

.urgency_urgent, .urgency_high, .urgency_medium, .urgency_low {
  padding: 3px 7px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.urgency_urgent {
  background: red;
}

.urgency_high {
  background: indianred;
}

.urgency_medium {
  background: seagreen;
}

.urgency_low {
  background: darkgray;
}
